<template>
    <div id="mark-tb">
        <h5>Edit mark</h5>
        <div id="colorlist">
            <a v-for="color in colorList"
                class="button colorpicker"
                :class="colorClasses(color)"
                @click="markSetColor(color)"></a>
        </div><br/>
        <!--
        <div class="u-cf" v-if="currentMark != -1">
            <button class="button">Remove mark</button>
        </div>
        -->
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Watch } from 'vue-property-decorator'

@Component
export default class MarkToolbox extends Vue {
    colorList: string[] = ["color-base00", "color-yellow", "color-orange", "color-red", "color-magenta", "color-violet", "color-blue", "color-cyan", "color-green"];

    colorClasses(color:string) {
        let mark = this.$store.getters.markGetCurrent();
        return [color, (mark != null && mark.color == color) ? 'colorpicker-selected' : ''];
    }

    markSetColor(color:string) {
        this.$store.commit("markSetColor", color);
        /*
        let currentMark = this.$vuex.getter.markGetCurrent;
        if (currentMark == null) {
            // Create new mark
            let mark = new Mark(this.currentSelection[0], this.currentSelection[1], color);
            this.$vuex.commit("markAdd", mark);
            this.$vuex.commit("markSetCurrent", mark);
        } else {
            currentMark.color = color;
            this.markUpdated(); // trigger update manually
        }
        */
    }
}
</script>

<style lang="scss">
@import 'scss/colors';

#mark-tb {
    position: fixed;
    left: 0;
    top: 0;
    margin: 20px;
    width: 20%;
    background-color: $base02;
    border-radius: 5px;
    padding: 10px;
}

#mark-tb h5 {
    color: $base1;
}

#colorlist {
    position: absolute;
    right: 10px;
    top: 15px;
}

#colorlist a {
    float: left;
    width: 25px;
    height: 25px;
    padding: 0;
    border-radius: 5px;
    border: 1px solid $base02;
    border: 1px solid rgba(7, 56, 66, .5);
    cursor: pointer;
}


.colorpicker-selected {
    border: 1px solid $base2 !important;
}

.mark {
    cursor: pointer;
}
</style>
