<template>
    <div class="autocomplete-input form-control-inline">
        <p class="form-group has-feedback">
            <input class="form-control is-large"
              :placeholder="placeholder"
              v-model.trim="search"
              @keyup.esc="showResults = false"
              @keydown.down="moveDown"
              @keydown.up="moveUp"
              @keydown.enter="select"
              @blur="showResults = false">
            <i class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></i>
        </p>
        <ul class="options-list" v-show="showResults">
            <li v-for="(option, index) in options"
                :class="{'highlighted': index == highlightedPosition }"
                @mouseenter="highlightedPosition = index"
                @mousedown="select">
                <slot name="item" :option="option">
                {{ option.description }}
                </slot>
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Watch } from 'vue-property-decorator';
import {debounce} from './utils';
import * as request from 'superagent';

@Component
export default class Autocomplete extends Vue {
    @Prop url: string;
    @Prop({default: 'search'}) queryName: string;
    @Prop({default: 'Search...'}) placeholder: string;
    search: string = "";
    options: any[] = [];
    showResults: boolean = false;
    highlightedPosition: number = 0;

    @Watch('search')
    @debounce(250)
    searchFn() {
        this.fetchData();
    }

    select() {
        this.$emit('select', this.options[this.highlightedPosition]);
        this.search = "";
        this.options = [];
        this.showResults = false;
    }

    moveDown() {
        if (this.highlightedPosition < this.options.length - 1)
            this.highlightedPosition ++;
        else
            this.highlightedPosition = 0;
    }

    moveUp() {
        if (this.highlightedPosition  > 0)
            this.highlightedPosition --;
        else
            this.highlightedPosition = this.options.length - 1;
    }

    fetchData() {
        let self = this;
        let query:any = {};

        if (this.search.length < 3) {
            this.options = [];
            this.showResults = false;
            return;
        }
        query[this.queryName] = this.search;
        request.get(this.url)
            .query(query)
            .end(function (err, res) {
                if (err != null) {
                    console.error("ERROR!", err);
                    return;
                }

                self.highlightedPosition = 0;
                self.options = [];
                self.options = res.body.entries;
                self.showResults = true;
            });
    }
}

</script>

<style>
.autocomplete-input {
  position: relative;
}

ul.options-list {
  display: flex;
  flex-direction: column;
  margin-top: -12px;
  border: 1px solid #dbdbdb;
  border-radius: 0 0 3px 3px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  background: white;
  z-index: 100;
  list-style: none;
  padding-left: 0;
}

ul.options-list li {
  width: 100%;
  flex-wrap: wrap;
  background: white;
  margin: 0;
  border-bottom: 1px solid #eee;
  color: #363636;
  padding: 7px;
  padding-left: 15px;
  cursor: pointer;
}

ul.options-list li.highlighted {
  background: #f8f8f8
}
</style>
