<template>
    <div class="CodeMirror-wrapper">
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Watch, Prop } from 'vue-property-decorator'
import * as CodeMirror from 'codemirror'

let mode = require("../node_modules/codemirror/mode/gfm/gfm.js");

class CodeMirrorChange {
    from: number;
    to: number;
    text: string;
    removed: string;
    origin: Element;
}
/*
    <code-mirror v-model="commentText"
        :options="{theme: 'solarized dark',
        lineNumbers: true}"
        @change="commentChanged"></code-mirror>
        */

@Component({
})
export default class CommentEditor extends Vue {
    @Prop
    value : string;

    @Prop({default: ()=> {return {
        mode: 'gfm', //text/javascript',
        //lineNumbers: true,
        //lineWrapping: true,
        theme: 'solarized dark'}}
    })
    options: any;

    commentText : string = "";
    editor: any;


    ready() {
        var _this = this
        this.editor = CodeMirror(<HTMLTextAreaElement>this.$el, this.options)
        //this.editor = CodeMirror.fromTextArea(<HTMLTextAreaElement>this.$el, this.options)
        this.editor.setValue(this.value)
        /*
        this.editor.on('change', this.commentChanged);
        this.editor.on('change', function(cm) {
            _this.value = cm.getValue()
            if (!!_this.$emit) {
                _this.$emit('change', cm.getValue())
            }
        })
        */
    }


    mounted() {
        this.commentText = this.value;
        var _this = this
        this.editor = CodeMirror(<HTMLTextAreaElement>this.$el, this.options)
        //this.editor = CodeMirror.fromTextArea(<HTMLTextAreaElement>this.$el, this.options)
        this.editor.setValue(this.value)
        this.editor.on('change', this.commentChanged);
        /*
        function(cm, changed) {
            _this.commentChanged(cm,changed);
            if (!!_this.$emit) {
                _this.$emit('change', cm.getValue())
                _this.$emit('input', cm.getValue())
            }
        })
        */
    }

    @Watch('value')
    valueUpdated(newVal: string, oldVal: string) {
        var editorValue = this.editor.getValue()
        if (newVal !== editorValue) {
            var scrollInfo = this.editor.getScrollInfo()
            this.editor.setValue(newVal)
            this.editor.scrollTo(scrollInfo.left, scrollInfo.top)
        }
    }

    @Watch('options')
    optionsUpdated(newOptions: any, oldVal: any) {
        if (typeof newOptions === 'object') {
            for (var optionName in newOptions) {
                if (newOptions.hasOwnProperty(optionName)) {
                    this.editor.setOption(optionName, newOptions[optionName])
                }
            }
        }
    }

    beforeDestroy() {
        /* if we used 'fromTextArea()' to create CodeMirror, we need this
        if (this.editor) {
            this.editor.toTextArea()
        }
        */
    }

    commentChanged(instance: any, change: CodeMirrorChange) {
        let val = instance.getValue();

        // Push value to parent
        if (val !== undefined) {
            this.$emit('update:val', val);
        }
    }
}
</script>

<style src="../node_modules/codemirror/lib/codemirror.css"></style>
<style lang="scss">
@import 'scss/codemirror-solarized';
.CodeMirror-wrapper {
    overflow: auto;
}

.CodeMirror {
    min-width: 15em;
    height: auto;
}

.CodeMirror-code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
</style>
