<template>
    <div class="container">
        <div v-if="isLoading">
            Loading ...
        </div>
        <div v-if="isError">
            An error occurred:
            {{ errorMessage }}
        </div>

        <div v-if="isReady">
            <mark-toolbox v-if="showMarkToolbox"></mark-toolbox>
            <div id="hex-editor"
                @mousedown.prevent="eventMouseDown"
                >
                <template v-for="r in rows">
                    <hex-row-component :row="r"></hex-row-component>
                </template>

            </div>

            <!--
            <div>
                <div id="commentlist">
                    <div v-for="(comment, commentrow) in comments"
                        class="comment-row"
                        :id="'comment-' + commentrow">
                        <template v-if="comment != null">
                            <div class="comment-marker color-base02"
                                @click="comment.show = true">
                                <span class="comment-hide-button" v-if="comment.show" @click.stop="comment.show = false">x</span>
                                <comment-editor :value="comment.text" v-if="comment.show" @update:val="(val) => comment.setText(val)"></comment-editor>
                            </div>
                        </template>
                        <div class="comment-add" @click.stop="commentAdd(commentrow)">+</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="ul-pull-left">
                    <div class="decodedValues">
                        <div v-if="decoded['bit']"><span class="label">bits:</span> {{decoded['bit']}}<br/></div>
                        <div v-if="decoded['int16le']"><span class="label">int16le:</span> {{decoded['int16le']}}<br/></div>
                        <div v-if="decoded['int16be']"><span class="label">int16be:</span> {{decoded['int16be']}}<br/></div>
                        <div v-if="decoded['int32le']"><span class="label">int32le:</span> {{decoded['int32le']}}<br/></div>
                        <div v-if="decoded['int32be']"><span class="label">int32be:</span> {{decoded['int32be']}}<br/></div>
                        <div v-if="decoded['int64le']"><span class="label">int64le:</span> {{decoded['int64le']}}<br/></div>
                        <div v-if="decoded['int64be']"><span class="label">int64be:</span> {{decoded['int64be']}}<br/></div>
                    </div>
                </div>
            </div>
                -->
        </div>
    </div>
</template>

<script lang="ts">
import request from 'superagent';
import Vue from 'vue';
import { Component, Watch } from 'vue-property-decorator'
import { decodeValues } from './utils'
import { Project } from './project';
import { BASE_URL } from './config';

const STATUS_LOADING = 0, STATUS_READY = 1, STATUS_ERROR = 2;

class Comment {
    // Where are we positioned now
    caretposition : number = 0;
    selected : boolean = false;
    show: boolean = false;

    constructor(public text = "") {}

    // Insert character at position
    insertChar(key: string) {
        if (key == "ArrowLeft") {
            if (this.caretposition > 0)
                this.caretposition --;
        } else if (key == "ArrowRight") {
            if (this.caretposition < this.text.length)
                this.caretposition ++;
        } else if (key == "Backspace") {
            if (this.caretposition > 0) {
                this.text = this.text.substring(0,this.caretposition-1) + this.text.substring(this.caretposition);
                this.caretposition --;
            }
        } else if (key.length == 1) {
            this.text = this.text.substring(0,this.caretposition) + key + this.text.substring(this.caretposition);
            this.caretposition ++;
        }
    }

    setText(text: string) {
        // Update value from child
        this.text = text;
    }
}


// Declare the component's type
let CommentEditor = require('./commenteditor.vue').default;
let RowComponent = require('./hex/rowcomponent.vue').default;
let MarkToolbox = require('./mark/marktoolbox.vue').default;
import Row from './hex/row';

@Component({
    components: {
        CommentEditor: CommentEditor,
        HexRowComponent: RowComponent,
        MarkToolbox: MarkToolbox,
    }
})
export default class HexEditor extends Vue {
    projectUUID: string = ""
    project: Project = null;

    rows : Array<Row> = Array();

    currentStatus : number = 0

    decoded: {[key:string]:string} = {};

    errorMessage: string = "";

    comments: Comment[] = new Array();
    selectedComment: number = -1;

    showMarkToolbox: boolean = false;
    currentSelection: number[] = [-1, -1];

    get isLoading() { return this.currentStatus == STATUS_LOADING; }
    get isReady()   { return this.currentStatus == STATUS_READY; }
    get isError()   { return this.currentStatus == STATUS_ERROR; }

    commentAdd(row: number) {
        if (this.comments[row] == null) {
            this.comments.splice(row, 1, new Comment());
        }
        this.comments[row].show = true;
    }

    mounted() {
        let self = this;

        this.projectUUID = this.$route.params.uuid;
        this.$el.addEventListener("click", function (e: MouseEvent){
            for (var target=<HTMLElement>e.target; target && target!=this; target=<HTMLElement>target.parentNode) {
                if (target.classList.contains("mark")) {
                    let id = parseInt(target.className.match(/mark-(\d*)/)[1]);
                    for (let i = 0; i < self.marks.length; i ++) {
                        if (self.marks[i].id == id) {
                            self.currentMark = i;
                            break;
                        }
                    }
                }
            }
        });
    }

    @Watch('$route')
    routeUpdated() {
        this.projectUUID = this.$route.params.uuid;
    }

    @Watch('projectUUID')
    uuidUpdated() {
        const url = `${BASE_URL}/api/project/${this.projectUUID}/`;
        let self = this;

        request.get(url)
            .end(function (err : any, res : any) {
                if (err !== null) {
                    self.errorMessage = err.message;
                    console.debug(err);
                    return;
                }

                let data = atob(res.body.data);
                let entries = new Uint8Array(data.split("").map((a: string) => {return a.charCodeAt(0)}));
                self.project = new Project(res.body.uuid, res.body.name);
                self.currentStatus = STATUS_READY;

                // Update vuex data
                self.$store.commit('setData', entries);

                let r : Row;
                for (let i=0; i < entries.length; i+=16) {
                    r = new Row();
                    r.addr = i;
                    r.position = i;
                    self.rows.push(r);
                }

                /*
                self.comments = new Array();
                self.comments[Math.floor(entries.length / 16)] = new Comment();

                let comment = new Comment('test-text');
                self.comments.splice(0, 1, comment);
                comment = new Comment('test-text');
                self.comments.splice(3, 1, comment);
                */
            });
    }


    clearSelectionHighlight() {
        for (let el of document.querySelectorAll(".h-row i.hl")){
            (<HTMLElement>el).classList.remove('hl');
        }
    }

    eventMouseDown(ev: MouseEvent) {
        console.debug(ev);
        let editor = document.getElementById("hex-editor");
        let self = this;

        let startElement : HTMLElement = null;
        let stopElement : HTMLElement = null;

        if (ev.button == 0) { // leftClick
            startElement = <HTMLElement>ev.target;
            stopElement = <HTMLElement>ev.target;
        }

        let prevStart : number = -1;
        let prevEnd : number = -1;

        function markSelection() {
            let start = parseInt(startElement.id.replace(/(h|c)-/, ""));
            let end = parseInt(stopElement.id.replace(/(h|c)-/, ""));

            // place in order
            if (start > end) {
                [start, end] = [end, start];
            }

            if (isNaN(start) || isNaN(end) || // between elements
                (start == prevStart && end == prevEnd)) { // No update
                return;
            }

            prevStart = start;
            prevEnd = end;
            self.currentSelection = [start, end];
            self.clearSelectionHighlight();
            for (let i = start; i <= end; i++) {
                document.getElementById("h-" + i).classList.add('hl');
                document.getElementById("c-" + i).classList.add('hl');
            }
        }

        function done() {
            editor.removeEventListener("mousemove", eventMouseSelect);
            markSelection();
        }

        let eventMouseSelect = function (ev : MouseEvent) {
            if (!ev.buttons) {
                done();
            }

            stopElement = <HTMLElement>ev.target;
            markSelection();
        }

        editor.addEventListener("mousemove", eventMouseSelect);
        self.showMarkToolbox = true;
        self.currentMark = -1;
    }
}
</script>

<style lang="scss">
@import "node_modules/normalize-scss/sass/normalize/import-now";
@import "node_modules/skeleton-sass-official/skeleton/core/config";
@import "node_modules/skeleton-sass-official/skeleton/themes/fresh/vars";
@import "node_modules/skeleton-sass-official/skeleton/themes/fresh/include_components";
@import "node_modules/skeleton-sass-official/skeleton/themes/fresh/grid";
@import 'scss/colors';

body {
    margin: 0;
    background-color: $base03;
    color: $base1;
}

h2 {
    color: $base3;
}

.row {
    width: 100%;
    margin: auto;

}

#commentlist {
    float: left;
    margin-left: 1em;
    padding: 0 3px;
    border-radius: 3px;
    color: $base1;
}

#comment-placeholder {
    position: absolute;
    right: 10em;
    color: $base01;
}

.comment-row {
    width: 100%;
    font-family: mono;
    line-height: 1.6em;
    min-height: 1.6em;
}

// Highlights
::-moz-selection {
    @include selection;
}

::selection {
    @include selection;
}

.hl {
    @include selection;
}

.decodedValues {
    background-color: $base02;
    color: $base1;
}

.label {
    width: 4em;
    text-align: right;
    display: inline-block;
}

.comment-marker {
    min-width: 20px;
    min-height: 1.3em;
    border-radius: 5px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
}

.comment-add {
    min-width: 20px;
    height: 1.3em;
    border-radius: 5px;
    display: inline-block;
    float: left;
    color: transparent;
    margin-left: 2px;
    text-align: center;
}

.comment-add:hover {
    color: $base2;
    background-color: $base02;
}

.comment-hide-button {
    float: right;
    font-size: 10px;
    width: 1.25em;
    text-align: center;
    padding: 0;
    cursor: pointer;
}

/* Clear a float */
.u-cf {
    content: "";
    display: table;
    clear: both;
}
</style>
