<template>
    <div id="app">
        <div class="container center">
            <!--Previous entries -->
            <h3>Pick a previous project</h3>
            <div id="prev-entries-list">
                <ul>
                    <li v-for="project in projects">
                        <router-link :to="{ name: 'hexeditor', params: { uuid: project.uuid }}">
                            {{ project.filename }}
                        </router-link>
                    </li>
                </ul>
            </div>
            <p v-if="loadError != ''">
                <span class="large">An error occurred while listing projects</span></br>
                {{ loadError }}
            </p>

            <!--UPLOAD-->
            <h3>or upload a new file</h3>
            <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
                <div class="dropbox">
                    <input type="file" :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                    accept="*/*" class="input-file">
                    <p v-if="isInitial">
                        Drag your file(s) here to begin
                    </p>
                    <p v-if="isSaving">
                        Uploading {{ fileCount }} files...
                    </p>
                </div>
            </form>
            <p v-if="isError">
                <span class="large">An error occurred while uploading</span></br>
                {{ uploadError }}
            </p>
        </div>
    </div>
</template>

<script lang="ts">
import request from 'superagent';
import Vue from 'vue';
import { Component, Watch } from 'vue-property-decorator'
import { Project } from './project';
import { BASE_URL } from './config';

const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;

@Component
export default class StartPage extends Vue {
    uploadFieldName: string = "file";
    projects: Project[] = [];
    loadError: string = "";

    currentStatus: number = STATUS_INITIAL;
    uploadError: string = "";

    get isInitial() {
        return this.currentStatus == STATUS_INITIAL;
    }

    get isSaving() {
        return this.currentStatus == STATUS_SAVING;
    }

    get isError() {
        return this.currentStatus == STATUS_FAILED;
    }

    reset() {
        this.currentStatus = STATUS_INITIAL;
        this.loadProjectList();

    }

    loadProjectList() {
        // Load list of projects
        const url = `${BASE_URL}/api/project/`;
        let self = this;
        request.get(url)
            .end(function (err : any, res : any) {
                if (err !== null) {
                    self.loadError = err.message;
                    console.debug(err);
                    return;
                }
                console.debug(res);

                self.projects = res.body.map((x:any) => { return new Project(x.uuid, x.name)});
            });
    }

    mounted() {
        this.reset();
    }

    save(formData : FormData) {
        // upload data to the server
        this.currentStatus = STATUS_SAVING;
        const url = `${BASE_URL}/api/project/`;
        let self = this;

        console.debug(formData);
        request.post(url)
            .send(formData)
            .end(function (err : any, res : any) {
                if (err !== null) {
                    self.uploadError = err.message;
                    self.currentStatus = STATUS_FAILED;
                    console.debug(err);
                    return;
                }
                console.debug(res);

                //this.uploadedFiles = [].concat(x);
                self.currentStatus = STATUS_SUCCESS;
                self.$router.push({ name: 'hexeditor', params: { uuid: res.body.project.uuid }})
            });
    }

    filesChange(fieldName: string, fileList : FileList) {
        // handle file changes
        const formData = new FormData();

        if (!fileList.length) return;
        console.debug(fieldName, fileList);

        // append the files to FormData
        Array
            .from(Array(fileList.length).keys())
            .map(x => {
                formData.append(fieldName, fileList[x], fileList[x].name);
            });

        // save it
        this.save(formData);
    }}
</script>

<style lang="scss">

@import 'scss/colors';

.center {
    text-align: center;
}

h3 {
    color: $base2 !important;
}

.prev-entries-list {
    margin: center;
}

.dropbox {
    background: $base02;
    color: $base1;
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border: 2px dashed $blue; /* the dash box */
    border-radius: 100%;
    margin: auto;
    display: inline-block;
}

.input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 100px;
    //position: absolute;
    cursor: pointer;
}

.dropbox:hover {
    background: $blue; /* when mouse over to the drop zone, change color */
    border: 2px dashed $base02; /* the dash box */
}

.dropbox p {
    font-size: 1em;
    text-align: center;
    padding: 30px 0;
}
</style>
