<template>
    <div class="h-row row">
        <div class="h-addr">{{ addrToString(row.addr) }}</div>
        <div class="h-data">
            <template v-for="(e, i) in getData"><i :id="'h-' + (row.position + parseInt(i))" :class="markClass(row.position+parseInt(i))">{{paddedHex(e)}}</i><span v-if="(i+1)%8 == 0 && (i+1)%16 != 0"></span></template>
        </div>
        <div class="h-chars">
            <template v-for="(e, i) in getData"><i :id="'c-' + (row.position + parseInt(i))" :class="markClass(row.position+parseInt(i))">{{printChar(e)}}</i></template>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Watch, Prop } from 'vue-property-decorator'
import Row from './row'

@Component
export default class RowComponent extends Vue {

    @Prop
    row : Row;

    // Read vuex state data
    get getData() : Uint8Array {
        return this.$store.getters.getData(this.row.position, this.row.position+16);
    }

    // Check if this position belongs to a mark
    markClass(position: number) {
        return this.$store.getters.markGetClass(position);
    }

    addrToString(n: number) {
        let hx = n.toString(16);
        return("0".repeat(5 - hx.length) + hx);
    }

    paddedHex(n : number) {
        let s :string = n.toString(16);
        return ((s.length==1) ? "0":"") + s;
    }

    printChar(n:number) : string {
        if (n < 0x20 || n >= 0x7f) return ".";
        return String.fromCharCode(n);
        // return "ÇüéâäàåçêëèïîìÄÅÉæÆôöòûùÿÖÜ¢£¥₧ƒáíóúñÑªº¿⌐¬½¼¡«»░▒▓│┤╡╢╖╕╣║╗╝╜╛┐└┴┬├─┼╞╟╚╔╩╦╠═╬╧╨╤╥╙╘╒╓╫╪┘┌█▄▌▐▀αßΓπΣσµτΦΘΩδ∞φε∩≡±≥≤⌠⌡÷≈°∙·√ⁿ²■ "[n - 128];
    }
}
</script>

<style lang="scss">
@import 'scss/colors';

@mixin unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.h-user-editing {
    border: 1px solid $blue;
}

// display marker showing other person editing
.h-user-editing:before {
    content: attr(data-user);
    display: block;
    position: absolute;
    background-color: $blue;
    font-size: 8px;
    border-radius: 5px;
    margin-top: -35px;
    margin-left: 20px;
}

.h-row {
    background-color: $base02;
}

.h-row:hover {
    background-color: $base01;
}

.h-addr {
    float: left;
    font-family: mono;
    color: $cyan;
    padding: 0 3px;
    border-radius: 3px;
    @include unselectable;
}

.h-data {
    float: left;
    margin-left: 1em;
    font-family: mono;
    padding: 0 3px;
    border-radius: 3px;
    width: 425px;
}

.h-data i {
    padding: 0px 3px;
    margin: 5px 0px;
    font-style: normal;
}

.h-data span {
    display: inline-block;
    width: 2em;
    user-select: contain;
}

.h-chars {
    float: left;
    margin-left: 1em;
    color: $green;
    font-family: mono;
    padding: 0 3px;
    border-radius: 3px;
    @include unselectable;
    width: 145px;
}

.h-chars i {
    padding: 0;
    font-family: mono;
    font-style: normal;
    white-space: pre;   // do not suppress spaces
}
</style>
